@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap');

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    
}

html body {
    scroll-behavior: smooth;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: #646464;
}

h3 {
    font-weight: bolder;
    font-family: 'Montserrat', bold 800;
    font-size: 25px;
}