/*Start header*/

.header {
    background-color:#e6e6e6;
    width: 100%;
    font-size: 14px;
    padding: 0.5% 0;
    font-family: 'Lato', sans-serif;
}

.homepage {
    font-size: 16px;
    margin-right: 15px;
    font-weight: bold;
}

.new {
    font-size: 12px;
}

.phone-number {
    text-align: center;
    margin-bottom: 0;
}

.mobile {
    text-decoration: normal;
}

.register-link {
    padding: 0.6rem;
}

.register-link:hover {
    background-color: #2985d8;
    color: white;
    height: 100%;
    text-decoration: none;
}
/*End header*/


/*Start navigation*/
.block2 {
    color: #646464;
}

.navbar {
    padding: 2% 0;
}

.nav-item {
    margin-right: 24px;
    color: #646464;
}

/*End navigation*/


/*Start block3*/
.block3 {
    height: 649px;
    background-color: blue;
    font-family: 'Montserrat', bold 800;
}

#intro1 {
    background: url(../img/12_Home-Page-Doctor.jpg) no-repeat center center;
    display: table;
    width: 100%;
    position: relative;
    background-size: cover;
}

.block3_block {
    height: 100%;
}

.subheading {
    font-size: 24px;
    color: #2985d8;
}

/*End block3*/

.block4 {
    height: 250%
}

.icon:hover {
    background-color: #2985d8;
    color: white;
}

.services_logo:hover {
    color: white;
}

.icon {
    height: 235px;
    background-color: #fafafa;
}

.services_logo {
    border-bottom: solid 2px #85b3dd;
    margin-bottom: 18px;
    padding-bottom: 24px;
    
}

.block4_text {
    font-family: 'Montserrat', sans-serif;;
    font-size: 12px;
}


.form {
    background-color: #2985d8;
    height: 60%;
}


.text-form {
    font-size: 28px;
}

.submit-button {
    border: 1px solid white;
    padding: 10px 70px;
    background-color: #2985d8;
    margin: 0;
    cursor: pointer;
    color: white;
}

.block5 {
    height: 100%;
    max-height: auto;
    width: 100%;
    background-color: #0d1c26;
}

#intro2 {
    background: url(../img/02_Home-Page-Doctor.jpg) no-repeat center center;
    display: table;
    width: 100%;
    position: relative;
    background-size: cover;
}

.block5_title {
    margin: 0 35%;
    
}

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transtions: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.portfolio-menu ul li:hover {
    background: #2985d8;
    color: #fff;
}

li.active {
    background: #2985d8;
    color: #fff; 
}

.portfolio-item:after {
    content: '';
    display: block;
    clear: both;
}
  
.grid-item, .grid-sizer {
    width: 20%;
}
  
.grid-item {
    float: left;
}

.all-projects {
    padding: 0 45%; 
}

.block6 {
    height: auto;
    background-color: #fafafa;
    font-size: 13px;
}

.info {
    width: 100%;
    height: auto;
    background-color: white;
}
.images_about {
    width: 100%;
}

.video_about {
    width: 100%;
    height: 315px;
}

.block7 {
    max-height: 100%;
    max-width: 100%;
}

.logo {
    padding-top: 50px;
    padding-bottom: 45px;
}

/*Scroll to top*/

.scroll_block {
    background-color: #0d1c26;
    height: 41px;
    width: 100%;
    border-top: 3px solid #2985d8;
    position: relative;
}

.scroll {
    background-color: #2985d8;
    padding: 13px;
    position: absolute;
    right: 0;
}

/*Start Footer*/

footer {
    color: white;
    align-content: center;
    font-size: 0.875rem;
}

.block8 {
    height: 100%;
    background-color: #0d1c26;
}

.list-unstyled {
    padding-left: 0px;
    list-style: none;
}

.title {
    font-size: 20px;
    padding-bottom: 42px;
}

.text-blue {
    color: #2985d8;
}

.sign {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 40px;
}

.social {
    background-color: white;
    color: #333;
    padding: 5px;
}

.social:hover {
    background-color: #2985d8;
    color: white;
    padding: 5px;
}

.text {
    color: white;
}

.logo-icon {
    color: #2985d8;
}

.block9 {
    max-height: auto;
    background-color: #10222d;
}

.footer-nav {
    color: white;
}

.footer-nav:hover {
    color: white;
}

/*End Footer*/
